################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/CarsInventory/obj/Debug
/CarsInventory/bin
/CarsInventory.Tests/obj/Debug
/CarsInventory.Data/obj/Debug
/CarsInventory.Repository/obj/Debug
/CarsInventory.Tests/bin/Debug
/.vs/carsinventory/v15/Server/sqlite3/db.lock
/CarsInventory/obj/Release
/CarsInventory.Data/bin/Debug
/CarsInventory.Repository/bin/Debug
/CarsInventory.Web/bin
/CarsInventory.Web/obj/Debug
